%h3.yellow Upcoming
.karaoke-night
  %h3 Monday
  %h4 9
  %p
    %span.hours 9pm-1am 
    %span.venue Donericks Pub House
.karaoke-night
  %h3 Tuesday
  %h4 10
  %p
    %span.hours 9pm-1am
    %span.venue Crown Sports Lounge 
.karaoke-night
  %h3 Wednesday
  %h4 11
  %p
    %span.hours 9pm-1am
    %span.venue Crown Sport Lounge
.karaoke-night
  %h3 Thursday
  %h4 12
  %p
    %span.hours 9pm-1am
    %span.venue My Bar




