#contact-info {
  float: left;
  width: 300px;
  margin-left: 16px;
}

#contact-info p { line-height: 1.4em; }

ul#address { list-style: none; }

.phone {
  font-weight: bold;
  color: #FFF39F;
}

#reception-planner {
  display: inline-block;
  line-height: 34px;
  padding-top: 0.5em;
  margin-left: 40px;;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-right: 34px;
  height: 34px;
  background-image: url('/images/pdf_32x32.gif');
  background-repeat: no-repeat;
  background-position: right;
}

#provide-and-about {
  float: right;
  width: 350px;
  margin-right: 20px; 
  margin-top: 30px;
}

#about {
  background-color: #101010;
  font-size: 12px
  line-height: 1.5em;
  padding: 12px;
}

#about p {
  line-height: 1.4em;
}

#headshot {
  width: 140px;
  float: right;
  margin: 10px;
}
