h2 {
  font-size: 24px;
  margin-top: 8px;
  margin-bottom: 36px;
}

h3 {
  color: #0099FF;
  font-size: 18px;
  margin-left: 12px;
}

p { line-height: 1.5em; }

#schedule {
  float: right;
  width: 360px;
  padding: 12px 12px 12px 12px;
  background-color: #101010;
}

#schedule h3 {
  margin: 4px 0 12px 2px;
  font-size: 18px;
}

.copy {
  text-align: left;
}

.copy p {
  padding-left: 2px;
  margin-left: 0;
  line-height: 1.6em;
  font-size: 12px;
}

#singer-image {
  float: left;
  width: 310px;
  text-align: center;
}

#singer-image h2 {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 16px;
}

img#blue-singer {
  display: block;
  margin: auto;
  width: 310px;
}

blockquote#karaoke-endorsement {
 background-color: #0099FF;
 margin: 10px 0px 0px 0px;
 padding: 12px 3px 6px 3px;
 line-height: 1.2em;
 text-align: center;
 font-size: 16px;
 color: #101010;
 width: 378px;
 float: right;
}

blockquote#karaoke-endorsement span#endorser {
 display: inline-block;
 float: right;
 font-size: 14px;
 font-style: normal;
 color: #FFF;
 margin: 6px 6px 0 0;
}

.karaoke-night {
  position: relative;
  margin-left: 8px;
  margin-bottom: 8px;
  padding: 3px;
}

.karaoke-night span {
  margin: 0;
  padding: 0;
  display: block;
}

.karaoke-night span.day_of_week {
  float: left;
  color: #FFF36F;
}

.karaoke-night span.hours {
  float: right;
}

.karaoke-night ul {
  list-style: none;
  position: relative;
  clear: both;
  padding: 6px 0 0 0;
  margin: 0 0 6px 0;
  margin-left: 12px;
}

.karaoke-night li.map {
  float: right;
  font-size: 0px;
}

.karaoke-night li.map a {
  display: inline-block;
  line-height: 34px;
  padding-right: 36px;
  text-decoration: none;
  background: url(/images/map-32x32.png) no-repeat top right;
}

.karaoke-night li.map a:hover {
  text-decoration: underline;
}

.karaoke-night li.street,
.karaoke-night li.phone {
  font-size: 12px;
}

