#moment {
  background-color: #101010;
}

#moment img#couple-dancing {
  width: 370px;
  border: solid white 0px; 
  margin: 0;
  float: left;
}

#copy {
  width: 330px;
  float: left;
  padding-left: 20px;
}

#copy h2 {
  font-size: 30px;
  margin-top: 34px;
}

#copy p {
  line-height: 1.5em;
  width: 90%;
}

#elegance-packages {
  clear: both;
  width: 95%;
  padding: 6px 6px 6px 6px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #3399CC;
  background-color: #FFF36F;
  color: #101010;
  line-height: 1.5em;
  font-size: 16px;
}

#elegance-packages span#elegance {
  font-size: 18px;
  font-weight: bold;
}

#packages ul {
  list-style-type: square;
  line-height: 1.3em;
  font-size: 12px;
  margin: 4px 0 4px 0px;
  padding-left: 30px;
}

#packages #package-list {
  background-color: #101010;
  padding: 2px 6px 4px 2px;
  float: left;
  width: 320px;
}

#package-list {
  width: 370px;
  float: left;
  margin: 0;
}

#packages #package-list div {
  width: 100%;
  position: relative;
}

#packages h3 {
  font-size: 14px;
  margin-left: 8px;
  margin-bottom: 4px;
  padding: 0;
}

#packages span.price {
  position: absolute;
  right: 0px;
  top: 0px;
  font-weight: bold;
  color: #3399CC;
}

#packages a#planner-link {
  font-size: 16px;
  margin-left: 50px;
}

#packages img#cutting-cake {
 position: absolute;
 bottom: 10px;
 right: 10px;
 border: solid white 0px; 
 width: 368px;
}
