#package-list
  %div.package
    %h3 Elegance
    %span.price $495  
    %ul
      %li 4 Hours of Dj variety music
      %li Wireless microphone for toasting
      %li 2 speaker sound system
  %div.package
    %h3 Elegance plus Premium Sound &amp; Ambient Lighting
    %span.price $595
    %ul
      %li 4 hours of Dj variety music
      %li 3 speaker premium sound system w/ Subwoofer
      %li Wireless microphone for toasting
      %li colored L.E.D. ambient dance lighting
  %div.package
    %h3 Elegance plus Premium Sound &amp; Intelligent Lighting
    %span.price $795
    %ul
      %li 4 hours of Dj variety music
      %li Wireless microphone for toasting
      %li 4 speaker premium sound system w/ 2 Subwoofers
      %li Moving Dance Lighting and L.E.D. ambient dance lighting
  %div.package
    %h3 Each Additional Hour
    %span.price $100

