- content_for :head do
  = stylesheet_link_tag 'reception'
#packages
  = image_tag 'couple-dancing.jpg', :id => 'couple-dancing', :alt => 'Wedding couple dancing close at their reception.'
  %p
    %span#elegance Dj Elegance – 
    all of our wedding packages are artistically designed to coordinate with the color and style of your reception room, while providing the highest quality sound and lighting.
  = render :partial => 'packages'
#copy
  %h2 Stay in the moment
  %p
    The day of your wedding can feel like a whirlwind. It can be exhausting!
  %p#offset
    Dj Darby will see that your reception is an event your guests will enjoy and
    you will look back on with happiness for the rest of your life.
  %p
    His experience and profesionalism will ensure smooth transitions,
    appropriate music, and a fun atmosphere are maintained throughout.
  = image_tag 'cake-cutting.jpg', :id => 'cake-cutting', :alt => 'Wedding couple cutting the cake at their reception.'
%br.clear

